<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>

    </header>

   <h2>Profiel verwijderen</h2>
  

   <section class="deleteTest">
       <h3>Weet je het zeker?</h3>
       <p>Door op de knop te klikken verwijderen je definitief je account, en de bijbehorende opgeslagen data.</p>

</section>

<section class="deleteProfile">
    <ul>
    
            <form name="deleteProfile" action="/delete" id="contact-form" method="post" >
      

</section>
            
            <input class="input-button" type="submit" value="Definitief verwijderen!" />

        </form>
    </ul>
</section>







    <footer>

        <!--working with include: including a footer from the partial directory-->
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>