<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>

    </header>

   <h2>Profiel verwijderen!!!!</h2>
  

   <section class="userInfo">
       <h3>Weet je het zekers?</h3>

</section>

<section class="form">
    <ul>
    
            <form name="deleteProfile" action="/delete" id="contact-form" method="post" >
      

</section>
            
            <input class="input-button" type="submit" value="Definitief verwijderen!" />

        </form>
    </ul>
</section>







    <footer>

        <!--working with include: including a footer from the partial directory-->
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>