<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <header>
        

    </header>

   <h2>Verwijderd</h2>
  

   <section class="userInfo">
       <h3>Je account is succesvol verwijderd</h3>

</section>


    <footer>

        <!--working with include: including a footer from the partial directory-->
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>