<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>

    </header>

    <main>

<section class="formIntro">

    <!--Section with title and description-->

    <section class="titleDescription">
     
     <h1>Samen wandelen <br> <span style="color:#FBD5C2">is veel leuker</span></h1>

    
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
             Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
               Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h2>

              
         

    </section>


<!--Section with form-->

<section class="form">
    <ul>
        <form name="userForm" action="/" id="contact-form" method="post" >
            <li> <label for="name"> Wat is je naam?<br></label>
                <input type="text" name="name" required></li>

            
            <li> <label for="location" id="locatie"> Op welke locatie wil je wandelen?</label>
                <input type="text" name="location" required> </li>
            <li><label for="interest"> Jouw favoriete interesses:</label>
                <input type="text" name="interest" required></li>


            <li><label for="duration" id="duration"> Hoe lang wil je wandelen?</label>

            <section class="radiobuttons">

                <input type="radio" id="twintig" name="time" value="20 minuten">
            <li> <label id="twintig" for="twintig">20-30 minuten</label></li>

            <input type="radio" id="dertig" name="time" value="30 minuten">
            <li> <label id="dertig" for="30-60">30-60 minuten</label></li>


</section>
            
            <input class="input-button" type="submit" value="Matches genereren" />

        </form>
    </ul>
</section>


</section>



    </main>


    <footer>
    
    <!--working with include: including a footer from the partial directory-->
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>